.container {
  background-color: #2a2c2e;
  position: fixed;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  color: white;
  box-sizing: border-box;
  border-right: 4px solid #8a8a8a;
  padding-top: 50px;
}

.item {
  font-weight: 400;
  padding-right: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: #ababab;
  &:hover {
    color: white;
  }
}

.active {
  background-color: #0db887;
  color: white;
}
