.container {
  background-color: #2a2c2e;
  position: fixed;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  color: white;
  padding: 30px;
  box-sizing: border-box;
  border-right: 4px solid #8a8a8a;
}

.item {
  font-size: 15pt;
  font-weight: 400;
  margin: 20px 0;
  a {
    text-decoration: none;
    color: white;
  }
}

.active {
  a {
    text-decoration: underline;
  }
}
